.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 22%);
    height: 90px;
  }
  
  .logo{
    width: 3rem;
    height: 3rem;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .projectName {
    color: azure;
    font-size: 35px;

    width: 270px;
    text-align: right;
  }
  
  .signIn{
    margin:14px;
    margin-right: 28px;
  }

  .signInBtn {
    padding: 0px 20px;
    height:50px;
    border: none;
    border-radius: 10px;
    background-color: #16056b;
    color: azure;
    cursor: pointer;
    font-size: 12px;
  }
  
  .signInBtn:hover {
    background-color: #2980b9;
  }

  .g{
    margin-left: 3px;
    color: #4285F4;
    font-weight: bold;
  }

  .o{
    color: #DB4437;
    font-weight: bold;
  }
  .o2{
    color: #F4B400;
    font-weight: bold;
  }
  .g2{
    color: #4285F4;
    font-weight: bold;
  }
  .l{
    color: #0F9D58;
    font-weight: bold;
  }
  
  .e{
    color: #DB4437;
    font-weight: bold;
  }

  